@font-face {
  font-family: 'flat-jooza';
  src: local('جذور مسطح'), local('flat-jooza'), url('https://cdn.statically.io/gh/ibrahim5mohamed/font/a14f3311/flat-jooza-regular.woff') format('woff');
  font-display: swap;
}
